/* line 1, ui/static/main/style.scss */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s; }

/* line 14, ui/static/main/style.scss */
.overlay-content {
  position: relative;
  top: 25%;
  width: 20%;
  text-align: center;
  margin-top: 30px; }

/* line 22, ui/static/main/style.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

/* line 31, ui/static/main/style.scss */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

/* line 36, ui/static/main/style.scss */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  /* line 44, ui/static/main/style.scss */
  .overlay a {
    font-size: 20px; }
  /* line 47, ui/static/main/style.scss */
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/* line 56, ui/static/main/style.scss */
body {
  background-color: #fbfbfb; }

@media (min-width: 991.98px) {
  /* line 60, ui/static/main/style.scss */
  main {
    padding-left: 240px; } }

/* Sidebar */
/* line 66, ui/static/main/style.scss */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  /* Height of navbar */
  width: 240px;
  z-index: 600; }

@media (max-width: 991.98px) {
  /* line 77, ui/static/main/style.scss */
  .sidebar {
    width: 100%; } }

/* line 81, ui/static/main/style.scss */
.sidebar .active {
  border-radius: 5px; }

/* line 86, ui/static/main/style.scss */
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */ }
