@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* line 3, ui/static/main/style.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

/* line 11, ui/static/main/style.scss */
.green-time {
  color: #5cb176; }

/* line 15, ui/static/main/style.scss */
.red-time {
  color: #ff6464; }

/* line 19, ui/static/main/style.scss */
.clock-icon {
  color: #aaaaaa;
  font-size: 12px; }

/* line 28, ui/static/main/style.scss */
.outer-container .header-container {
  background: var(--bg-light-3, #f9f6f6);
  height: 56px; }
  /* line 31, ui/static/main/style.scss */
  .outer-container .header-container .header {
    display: flex;
    justify-content: space-between; }
    /* line 35, ui/static/main/style.scss */
    .outer-container .header-container .header .left {
      display: flex;
      justify-content: flex-start; }
      /* line 39, ui/static/main/style.scss */
      .outer-container .header-container .header .left ul {
        position: absolute;
        top: 0;
        width: 100%; }
        /* line 44, ui/static/main/style.scss */
        .outer-container .header-container .header .left ul li {
          display: inline; }
          /* line 47, ui/static/main/style.scss */
          .outer-container .header-container .header .left ul li a {
            display: inline-block;
            padding: 15px;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            color: white; }
            /* line 55, ui/static/main/style.scss */
            .outer-container .header-container .header .left ul li a .hamburger {
              color: black;
              margin-left: -15px; }
          /* line 60, ui/static/main/style.scss */
          .outer-container .header-container .header .left ul li .header-text {
            margin-right: 15px; }
    /* line 66, ui/static/main/style.scss */
    .outer-container .header-container .header .right {
      text-align: center;
      position: relative;
      display: flex;
      justify-content: flex-end; }
      /* line 72, ui/static/main/style.scss */
      .outer-container .header-container .header .right ul {
        position: absolute;
        top: 0; }
        /* line 76, ui/static/main/style.scss */
        .outer-container .header-container .header .right ul li {
          display: inline; }
          /* line 79, ui/static/main/style.scss */
          .outer-container .header-container .header .right ul li a {
            display: inline-block;
            padding: 15px;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            color: white; }

/* line 93, ui/static/main/style.scss */
.outer-container .main-container {
  display: flex; }
  /* line 96, ui/static/main/style.scss */
  .outer-container .main-container .sidebar {
    height: calc(100vh -56px);
    background: linear-gradient(148deg, #8b4367 0%, #343571 100%);
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.2);
    width: 90px;
    padding-top: 15px; }
    /* line 102, ui/static/main/style.scss */
    .outer-container .main-container .sidebar ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 20px; }
    /* line 109, ui/static/main/style.scss */
    .outer-container .main-container .sidebar li .sidebar-icon {
      margin-top: 16px;
      height: 40px;
      font-size: 18px;
      color: white; }
  /* line 118, ui/static/main/style.scss */
  .outer-container .main-container .section1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 525px;
    padding: 10px; }
    /* line 126, ui/static/main/style.scss */
    .outer-container .main-container .section1 .section1-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70px;
      border-radius: 10px;
      border: 0.5px solid var(--text-ddd, #ddd);
      background: rgba(238, 238, 238, 0.3);
      padding: 7px; }
      /* line 136, ui/static/main/style.scss */
      .outer-container .main-container .section1 .section1-row .section1-row-small {
        font-size: 12px;
        font-weight: 500;
        color: #777777;
        padding-bottom: 0;
        margin-bottom: 0; }
      /* line 144, ui/static/main/style.scss */
      .outer-container .main-container .section1 .section1-row .section1-row-content {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        /* line 149, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row .section1-row-content .section1-row-text {
          font-size: 24px;
          font-weight: 700;
          color: #999999; }
        /* line 154, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row .section1-row-content div {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: -7px;
          position: relative; }
          /* line 161, ui/static/main/style.scss */
          .outer-container .main-container .section1 .section1-row .section1-row-content div .clock {
            font-size: 15px;
            color: #aaaaaa;
            position: absolute;
            top: 16px;
            right: 115px; }
          /* line 169, ui/static/main/style.scss */
          .outer-container .main-container .section1 .section1-row .section1-row-content div .section1-row-time {
            font-size: 30px;
            font-weight: 700; }
    /* line 177, ui/static/main/style.scss */
    .outer-container .main-container .section1 .section1-heading {
      height: 59px;
      border-radius: 8px;
      background: linear-gradient(133deg, rgba(255, 162, 162, 0.5) 0%, rgba(255, 184, 223, 0.5) 100%); }
      /* line 185, ui/static/main/style.scss */
      .outer-container .main-container .section1 .section1-heading p {
        color: #fff;
        font-size: 30px;
        font-weight: 500; }
    /* line 192, ui/static/main/style.scss */
    .outer-container .main-container .section1 .transfers {
      position: relative; }
      /* line 194, ui/static/main/style.scss */
      .outer-container .main-container .section1 .transfers .transfers-box {
        width: 100px;
        height: 53px;
        border-radius: 4px;
        background: #eeeeee;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 15px; }
        /* line 204, ui/static/main/style.scss */
        .outer-container .main-container .section1 .transfers .transfers-box .user {
          padding-left: 7px;
          color: #999999; }
        /* line 208, ui/static/main/style.scss */
        .outer-container .main-container .section1 .transfers .transfers-box span {
          color: #333333;
          font-size: 40px;
          font-weight: 700; }
    /* line 215, ui/static/main/style.scss */
    .outer-container .main-container .section1 .section1-row-box {
      width: 100%;
      height: 110px;
      border-radius: 15px;
      border: 0.5px solid var(--text-ddd, #ddd);
      background: var(--navy-300, #676795);
      box-shadow: 2px 2px 4px 0px rgba(204, 204, 204, 0.25), -2px -2px 4px 0px rgba(204, 204, 204, 0.25);
      display: flex;
      justify-content: space-around;
      padding: 12px 0px; }
      /* line 227, ui/static/main/style.scss */
      .outer-container .main-container .section1 .section1-row-box .col1 {
        text-align: center;
        margin-top: -5px; }
        /* line 230, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-box .col1 p {
          color: #fff;
          font-weight: 700;
          margin-bottom: 0;
          padding-bottom: 5px; }
        /* line 237, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-box .col1 .total-visits {
          margin-top: 4px;
          color: #fff;
          font-size: 40px;
          font-weight: 700;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.3);
          padding: 0 24px; }
      /* line 248, ui/static/main/style.scss */
      .outer-container .main-container .section1 .section1-row-box .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -12px; }
        /* line 253, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-box .col2 p {
          margin: 0;
          padding: 0; }
        /* line 257, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-box .col2 .text-first {
          color: #fff;
          font-size: 16px;
          font-weight: 700; }
        /* line 262, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-box .col2 .text-second {
          color: var(--text-eee, #eee);
          font-size: 10px;
          font-weight: 400; }
        /* line 267, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-box .col2 .time {
          font-size: 40px;
          font-weight: 700;
          border-radius: 4px;
          padding: 0 20px;
          background: var(--cherry-20, #fff9f9); }
    /* line 276, ui/static/main/style.scss */
    .outer-container .main-container .section1 .section1-row-multiBox {
      display: flex;
      gap: 10px; }
      /* line 279, ui/static/main/style.scss */
      .outer-container .main-container .section1 .section1-row-multiBox .multi-box {
        width: 253px;
        height: 75px;
        background: rgba(238, 238, 238, 0.5);
        border-radius: 4px; }
        /* line 285, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-multiBox .multi-box p {
          font-size: 14px;
          font-weight: 400;
          padding: 8px; }
          /* line 291, ui/static/main/style.scss */
          .outer-container .main-container .section1 .section1-row-multiBox .multi-box p span {
            margin-right: 6px; }
        /* line 296, ui/static/main/style.scss */
        .outer-container .main-container .section1 .section1-row-multiBox .multi-box div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: -12px; }
          /* line 302, ui/static/main/style.scss */
          .outer-container .main-container .section1 .section1-row-multiBox .multi-box div .left p {
            color: #343571;
            font-size: 28px;
            font-weight: 700; }
          /* line 308, ui/static/main/style.scss */
          .outer-container .main-container .section1 .section1-row-multiBox .multi-box div .right {
            display: flex;
            align-items: center; }
            /* line 312, ui/static/main/style.scss */
            .outer-container .main-container .section1 .section1-row-multiBox .multi-box div .right .clock {
              margin-bottom: -7px; }
  /* line 321, ui/static/main/style.scss */
  .outer-container .main-container .section2 {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; }
    /* line 328, ui/static/main/style.scss */
    .outer-container .main-container .section2 .section2-row1 {
      display: flex;
      gap: 10px; }
      /* line 332, ui/static/main/style.scss */
      .outer-container .main-container .section2 .section2-row1 .section2-table {
        width: 846px;
        height: 279px;
        border-radius: 4px;
        background: #fff;
        box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.1), 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        gap: 8px; }
        /* line 343, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row1 .section2-table .zone-table {
          display: flex;
          flex-direction: column;
          gap: 8px; }
          /* line 348, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-table .col1 {
            width: 365px;
            height: 32px;
            border-radius: 0 7px 7px 0; }
          /* line 354, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-table .heading {
            text-align: center;
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            background: var(--navy-300, #676795); }
          /* line 362, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-table .content {
            opacity: 0.5;
            background: var(--navy-50, #ebebff);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            color: whitesmoke;
            padding-left: 20px;
            padding-right: 20px;
            color: var(--text-777, #777);
            font-size: 18px;
            font-weight: 700; }
        /* line 377, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division {
          display: flex;
          flex-direction: column;
          gap: 8px; }
          /* line 381, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .multi-col {
            width: 150px;
            height: 32px;
            border-radius: 10px;
            text-align: center; }
          /* line 387, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .heading {
            color: #fff;
            font-size: 22px;
            font-weight: 700; }
          /* line 392, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .content {
            color: var(--text-777, #777);
            font-size: 20px;
            font-weight: 700; }
            /* line 397, ui/static/main/style.scss */
            .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .content .time {
              width: 80px;
              margin: 4px 0px 0 33px;
              display: flex;
              border-radius: 24px;
              background: #fff;
              align-items: center;
              justify-content: center;
              gap: 10px; }
              /* line 407, ui/static/main/style.scss */
              .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .content .time i {
                margin-top: 4px;
                font-size: 10px;
                color: #999999; }
              /* line 412, ui/static/main/style.scss */
              .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .content .time span {
                font-size: 16px; }
          /* line 417, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .col-green-heading {
            background: var(--success-300, #72c090); }
          /* line 420, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .col-green {
            background: rgba(198, 240, 194, 0.5); }
          /* line 423, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .col-yellow-heading {
            background: var(--warning-300, #f29d41); }
          /* line 426, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .col-yellow {
            opacity: 0.800000011920929;
            background: rgba(245, 190, 103, 0.5); }
          /* line 430, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .col-red-heading {
            background: #ff6464; }
          /* line 433, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row1 .section2-table .zone-division .col-red {
            background: rgba(255, 224, 224, 0.6); }
        /* line 437, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row1 .section2-table .red-zone {
          margin-left: 2px; }
      /* line 444, ui/static/main/style.scss */
      .outer-container .main-container .section2 .section2-row1 .section2-charts .chart {
        border-radius: 8px;
        border: 0.5px solid var(--text-ddd, #ddd);
        background: #fff; }
    /* line 454, ui/static/main/style.scss */
    .outer-container .main-container .section2 .section2-row2 {
      display: flex;
      gap: 10px; }
      /* line 457, ui/static/main/style.scss */
      .outer-container .main-container .section2 .section2-row2 .chart {
        width: 462px;
        height: 279px;
        border-radius: 8px;
        border: 0.5px solid var(--text-ddd, #ddd);
        background: #fff; }
    /* line 465, ui/static/main/style.scss */
    .outer-container .main-container .section2 .section2-row3 {
      display: flex;
      gap: 10px; }
      /* line 469, ui/static/main/style.scss */
      .outer-container .main-container .section2 .section2-row3 .row3-box1 {
        width: 197px;
        height: 388px;
        border-radius: 4px;
        border: 0.5px solid var(--text-ddd, #ddd);
        background: var(--cherry-20, #fff9f9);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        padding-left: 10px; }
        /* line 477, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box1 p {
          color: var(--text-ccc, #ccc);
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          padding-top: 5px; }
        /* line 484, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box1 .status {
          color: #ff6464;
          font-size: 24px;
          font-weight: 600; }
        /* line 489, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box1 .svg {
          margin-top: 35px; }
      /* line 495, ui/static/main/style.scss */
      .outer-container .main-container .section2 .section2-row3 .row3-box2 .box {
        width: 361px;
        height: 189px;
        border-radius: 4px;
        border: 0.5px solid var(--text-ddd, #ddd);
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px; }
        /* line 503, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .top {
          height: 50px;
          border-radius: 4px;
          font-weight: 700;
          color: white;
          padding: 15px 0 0 20px; }
          /* line 509, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .top small {
            font-size: 12px;
            padding-right: 4px; }
          /* line 513, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .top span {
            font-size: 18px; }
        /* line 517, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .box-color1 {
          background: linear-gradient(180deg, rgba(84, 56, 100, 0.9) 0%, rgba(118, 96, 131, 0.9) 100%); }
        /* line 524, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .box-color2 {
          background: linear-gradient(180deg, rgba(139, 67, 103, 0.8) 0%, rgba(139, 67, 103, 0.8) 100%); }
        /* line 531, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .content {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 23px;
          position: relative; }
          /* line 537, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .content .left {
            color: var(--text-999, #999);
            text-align: center;
            font-size: 43px;
            font-weight: 700; }
          /* line 543, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .content .mid {
            position: absolute;
            top: 30px;
            bottom: 0;
            left: 170px;
            width: 1px;
            height: 65%;
            background: #eee; }
          /* line 552, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .content .right {
            padding-left: 25px; }
            /* line 554, ui/static/main/style.scss */
            .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .content .right i {
              padding-right: 5px;
              color: #aaaaaa; }
            /* line 558, ui/static/main/style.scss */
            .outer-container .main-container .section2 .section2-row3 .row3-box2 .box .content .right span {
              color: rgba(255, 100, 100, 0.7);
              font-size: 36px;
              font-weight: 700; }
      /* line 568, ui/static/main/style.scss */
      .outer-container .main-container .section2 .section2-row3 .row3-box3 {
        width: 100%;
        height: 388.5px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25), -2px -2px 4px 0px rgba(0, 0, 0, 0.25); }
        /* line 576, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box3 .header {
          width: 100%;
          height: 101px;
          border-radius: 8px;
          background: linear-gradient(133deg, rgba(103, 103, 149, 0.56) 0%, rgba(103, 103, 149, 0.56) 0.01%, rgba(235, 235, 255, 0.7) 100%);
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 32px;
          color: #fff;
          position: relative;
          gap: 10px;
          margin-bottom: 0; }
          /* line 593, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 .header .svg {
            padding-left: 10px; }
          /* line 598, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 .header .input-div {
            position: relative;
            background: #fff;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.04) inset;
            display: flex;
            align-items: center;
            margin: 10px 20px 0 250px; }
            /* line 606, ui/static/main/style.scss */
            .outer-container .main-container .section2 .section2-row3 .row3-box3 .header .input-div input {
              border-radius: 4px;
              width: 250px;
              height: 29px;
              padding-left: 40px;
              border: none;
              color: var(--text-777, #777);
              font-size: 14px;
              font-weight: 400; }
            /* line 616, ui/static/main/style.scss */
            .outer-container .main-container .section2 .section2-row3 .row3-box3 .header .input-div svg {
              color: #333333;
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%); }
        /* line 625, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box3 .dataTables_filter {
          display: none; }
        /* line 628, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable {
          padding: 0 10px; }
          /* line 631, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable thead {
            background: var(--navy-30, #f8f8ff);
            color: var(--text-555, #555);
            font-size: 18px;
            font-weight: 700; }
          /* line 638, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable td:first-child,
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable th:first-child {
            border-radius: 10px 0 0 10px;
            /* border: 1px solid var(--text-ddd, #ddd); */
            border-top: 1px solid var(--text-ddd, #ddd);
            border-bottom: 1px solid var(--text-ddd, #ddd); }
          /* line 646, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable td:last-child,
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable th:last-child {
            border-radius: 0 10px 10px 0;
            border-top: 1px solid var(--text-ddd, #ddd);
            border-bottom: 1px solid var(--text-ddd, #ddd); }
          /* line 653, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable td:nth-child(2),
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable th:nth-child(2) {
            border-top: 1px solid var(--text-ddd, #ddd);
            border-bottom: 1px solid var(--text-ddd, #ddd); }
          /* line 660, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable .patients {
            width: 50px;
            color: var(--text-555, #555);
            font-size: 21px;
            font-weight: 700;
            border-radius: 2px;
            background: var(--text-eee, #eee); }
          /* line 668, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable .time-content {
            display: flex;
            align-items: center;
            gap: 5px; }
            /* line 672, ui/static/main/style.scss */
            .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable .time-content .time {
              font-size: 21px;
              font-weight: 700; }
        /* line 678, ui/static/main/style.scss */
        .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable_paginate {
          margin: 0px 10px 0 0;
          background-color: aqua;
          border-radius: 4px;
          border: 0.4px solid rgba(0, 0, 0, 0.1);
          background: var(--navy-30, #f8f8ff);
          color: #000;
          font-size: 14px;
          font-weight: 400; }
          /* line 687, ui/static/main/style.scss */
          .outer-container .main-container .section2 .section2-row3 .row3-box3 #myTable_paginate .current {
            padding: 6px 10px;
            border-radius: 4px;
            border: 0.4px solid rgba(0, 0, 0, 0.1);
            background: var(--navy-300, #676795);
            color: #ffffff !important;
            font-weight: 500; }
