/* line 1, ui/static/main/style.scss */
.header-container {
  background: linear-gradient(90deg, #ffe0e0 0%, #ff6464 93.23%); }
  /* line 3, ui/static/main/style.scss */
  .header-container .header {
    display: flex;
    justify-content: space-between; }
