/* line 1, ui/static/main/style.scss */
.header-container {
  background: var(--bg-light-3, #f9f6f6); }
  /* line 3, ui/static/main/style.scss */
  .header-container .header {
    display: flex;
    justify-content: space-between;
    fill: linear-gradient(90deg, #ffe0e0 0%, #ff6464 93.23%); }
