/* line 2, ui/static/main/style.scss */
.current h1 {
  color: aqua; }

/* line 5, ui/static/main/style.scss */
.current h2 {
  color: antiquewhite; }

/* line 10, ui/static/main/style.scss */
.current .next h1 {
  color: tomato; }

/* line 13, ui/static/main/style.scss */
.current .next h2 {
  color: purple; }
